<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('style/style.css') }}">
    {% block stylesheets %}{% endblock %}    
</head>

<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="{{ path('app_home') }}">BODY CHALLENGE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">


                    <li class="nav-item dropdown">
                        <a class="navbar-brand text-white" href="{{ path('app_coach') }}">Nos coaches</a>
                    </li>
                    <li class="nav-item">
                         <a class="navbar-brand text-white" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                     <li class="nav-item">
                        <a class="navbar-brand text-white" href="{{ path('app_inscription') }}">Inscription</a>
                     </li>
                     
                    
                    <li class="nav-item">
                        <a href="{{ path('app_update', {})}}" class="btn btn-primary m-auto rounded-pill">Modifier</a>
                     </li>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Entrez une ville" aria-label="Search">
                    <button class="btn btn-outline-light text-white bg-dark" type="submit">Trouve ton Coach</button>
                </form>
            </div>
        </div>
    </nav>
   
    {% block body %}{% endblock %}

    <footer id="footer">
        <div id="ligne"></div>
        <section>
            <div id="bulle">
            <p class="bulle1">Des coaches diplomés <i class="las la-graduation-cap"></i></p>
            <p class="bulle1">Partout en france <i class="las la-compass"></i></p>
            <p class="bulle1">97% client satisfait <i class="las la-thumbs-up"></i></p>
                <p class="bulle1">Des tarifs abordable <i class="las la-coins"></i></p>
            </div>
              
            <section id="reseaux">
                
                <h5 class="h1">Nos réseaux</h5>
                <ul>
                    <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
                    <li><a href="#"><i class="lab la-google-plus"></i></a></li>
                    <li><a href="#"><i class="lab la-twitter"></i></a></li>
                    <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="lab la-dribbble"></i></a></li>
                </ul>
                <p id="copyright">Copyright &copy; BODY CHALLENGE 2021</p>
            </section>
          
        </section>
    </footer>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>