{% extends 'base.html.twig' %}

{% block title %}Body challenge!{% endblock %}

{% block body %}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://image.shutterstock.com/image-vector/abstract-background-straight-lines-splashes-600w-1184674987.jpg"
        class="d-block w-100" alt="carousel1">
      <div class="carousel-caption">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://image.shutterstock.com/image-vector/abstract-background-straight-lines-splashes-600w-1702964722.jpg" class="d-block w-100 img-fluid" alt="carousel2">
      <h2 class="position-absolute top-50 start-50 translate-middle h1">Challenge your limite</h2>
    </div>

    <div class="carousel-item">
      <img
        src="https://image.shutterstock.com/shutterstock/photos/1702960783/display_1500/stock-vector-abstract-background-with-straight-lines-and-splashes-in-minimalist-flat-style-vector-suitable-1702960783.jpg"
        class="d-block w-100" alt="carousel3">
      <h2 class="position-absolute top-50 start-50 translate-middle h1">Challenge your limite</h2>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<section class="container mt-5 text-center">
  <a href="{{ path('app_coach') }}"
    class="h1 p-2 text-white bg-dark rounded bg-light text-dark text-decoration-none ">Trouve ton Coach</a>
  <div class="row">
      {% for coach in coaches %}
      <div class="col-md-4 col-sm-12">
        <div class="card text-center mt-5 m-auto" style="width: 18rem;">
          <img src="{{ asset('/uploads/photos_coachs/' ~ coach.picture) }}" alt="Image" class="img-acceuil">
          <div class="card-body">
            <h5 class="card-title">{{ coach.first_name }}, {{ coach.age }} ans</h5>
            <p class="card-text"><a href="{{ path('app_search', {city: coach.city})}}"><i
                  class="las la-map-marker la-2x"></a></i>{{ coach.city }}.</p>
            <p class="card-text"><i class="las la-running la-2x"></i>{{ coach.sport }}</p>
            <p class="card-text">{{ coach.tarif }} €/l'heure</p>
            <a class="btn btn-dark" href="{{ path('app_view', {id: coach.id})}}">Voir le coach</a>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
</section>
<div class="col-12 mt-5">
  <h2 class="text-center mb-5"><span class="p-2 rounded " id="titre">Nos coaches en France</span></h2>

  <div class="col-5 " id="maCarte"> </div>

</div>


{% endblock %}


{% block javascripts %}
<script>
  var villes = {
    "Paris": {
      "lat": 48.852969,
      "lon": 2.349903
    },
    "Brest": {
      "lat": 48.383,
      "lon": -4.500
    },
    "Quimper": {
      "lat": 48.000,
      "lon": -4.100
    },
    "Bayonne": {
      "lat": 43.500,
      "lon": -1.467
    },
    "Marseille": {
      "lat": 43.296174,
      "lon": 5.362019953
    },
    "Lyon": {
      "lat": 45.737814,
      "lon": 4.832011
    },
    "Toulouse": {
      "lat": 43.604462,
      "lon": 1.444247
    },
    "Bordeaux": {
      "lat": 44.841225,
      "lon": -0.580036
    },
    "Rennes": {
      "lat": 48.111339,
      "lon": -1.68002
    },
    "Caen": {
      "lat": 49.181004,
      "lon": -0.369891
    },
    "Clermont ferand": {
      "lat": 45.777455,
      "lon": 3.081943
    },
    "Nice": {
      "lat": 43.700936,
      "lon": 7.268391
    },
    "Lile": {
      "lat": 50.636565,
      "lon": 3.063528
    },
    "Nancy": {
      "lat": 48.693722,
      "lon": 6.18341
    },
    "Strasbourg": {
      "lat": 48.584614,
      "lon": 7.750713
    },
    "Nante": {
      "lat": 47.213637,
      "lon": -1.554136
    },
    "Lorient": {
      "lat": 47.747734,
      "lon": -3.366091
    },
    "Guingamp": {
      "lat": 48.561848,
      "lon": -3.150201
    },
    "Metz": {
      "lat": 49.119696,
      "lon": 6.176355
    },
    "Anger": {
      "lat": 49.061641,
      "lon": 0.458682
    },
    "Le havre": {
      "lat": 49.493898,
      "lon": 0.107913
    },
    "Dijon": {
      "lat": 47.321581,
      "lon": 5.04147
    },
    "Orleans": {
      "lat": 47.902734,
      "lon": 1.908607
    },
  };
  var tableauMarqueurs = [];

  // On initialise la carte
  var carte = L.map('maCarte').setView([48.852969, 2.349903], 13);

  // On charge les "tuiles"
  L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
    // Il est toujours bien de laisser le lien vers la source des données
    attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
    minZoom: 1,
    maxZoom: 20
  }).addTo(carte);

  var marqueurs = L.markerClusterGroup();

  var marqueurs = L.markerClusterGroup();

  // On personnalise le marqueur
  var icone = L.icon({
    iconUrl: "images/marqueur.png",
    iconSize: [50, 50],
    iconAnchor: [25, 50],
    popupAnchor: [0, -50]
  })
  // On parcourt les différentes villes
  for (ville in villes) {
    console.log(ville);
    // On crée le marqueur et on lui attribue une popup
    var marqueur = L.marker([villes[ville].lat, villes[ville].lon], {
      icon: icone
    }); //.addTo(carte); Inutile lors de l'utilisation des clusters
    var popupContent = '<p>' + ville + '</p>';
    popupContent += '<br><a href="/recherche-coach/' + ville.toLowerCase() + '">Voir tous les coachs</a>';

    marqueur.bindPopup(popupContent);
    marqueurs.addLayer(marqueur); // On ajoute le marqueur au groupe

    // On ajoute le marqueur au tableau
    tableauMarqueurs.push(marqueur);
  }
  // On regroupe les marqueurs dans un groupe Leaflet
  var groupe = new L.featureGroup(tableauMarqueurs);

  // On adapte le zoom au groupe
  carte.fitBounds(groupe.getBounds().pad(0.5));

  // On adapte le zoom au groupe
  carte.fitBounds(groupe.getBounds().pad(0.5));

  carte.addLayer(marqueurs);
</script>
{% endblock %}